@if(idea){
    <mat-card class="idea" [matBadge]="idea.votes">
        <mat-card-header>
            <mat-card-title>{{idea.name}}</mat-card-title>
            <mat-card-subtitle>{{idea.description}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-icon-button routerLink="new" [queryParams]="{id: idea.id}"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button (click)="upvoteIdea(idea)"><mat-icon>thumb_up</mat-icon></button>
            <button mat-icon-button (click)="downvoteIdea(idea)"><mat-icon>thumb_down</mat-icon></button>
            <button mat-icon-button (click)="deleteIdea(idea)"><mat-icon>delete</mat-icon></button>
        </mat-card-actions>
    </mat-card>
}